
# See discord.com/developers/applications/##################/bot.
BOT_TOKEN=""

# The Discord user ID of the bot owner.
BOT_OWNER_USERID=""

# The Discord prefix for unaddressed bot commands.
BOT_PREFIX="%"

# Data source name for the Discord bot's database.
# file: paths are relative to the src/prisma directory.
# https://www.prisma.io/docs/reference/database-reference/connection-urls
BOT_DATABASE_URL="file:./database.sqlite3"

# Documentation URLs.
README_I_GUESS_THIS_IS_IT="https://morbus.github.io/button-shy-games-play-bot/players/i-guess-this-is-it/"
