
# Local configuration.
.env
src/game-data
src/prisma/database.sqlite3
src/prisma/database.sqlite3-journal

# Dependencies.
node_modules
vendor

# Compiled output.
/dist
main.js
src/**/*.js
*.js.map

# Operating system files.
.DS_Store
Thumbs.db
