
/**
 * Two line title needs more breathing room.
 */
.site-header {
  height: 90px;
  max-height: 90px;
}

/**
 * Discord styles cheerfully borrowed from discord.js.guide.
 */
.discord-messages {
  background-color: #36393e;
  border: 1px;
  border-radius: .375rem;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 170%;
}

.discord-message {
  color: #dcddde;
  display: flex;
  flex-direction: column;
  font-size: .9em;
  margin: 1em 0;
  padding: 1em;
}

.discord-message-content {
  display: flex;
  font-weight: 400;
  line-height: 160%;
  overflow-wrap: anywhere;
  width: 100%;
}

.discord-author-avatar {
  margin-right: 16px;
  margin-top: 1px;
  min-width: 40px;
}

.discord-author-avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.discord-message-body {
  position: relative;
  width: 100%;
}

.discord-author-info {
  align-items: center;
  color: #fff;
  display: inline-flex;
  font-size: 15px;
}

.discord-author-username {
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: .5px;
}

.discord-message-timestamp {
  color: #72767d;
  font-size: 12px;
  margin-left: 3px;
}

.discord-mention {
  background-color: #5865f2;
  color: #dee0fc;
}
